.edit-block {
    width: 50%;
    margin: 0 auto;
}

.edit-input {
    width: 200px;
    height: 20px;
    margin-right: 10px;
}

.save {
    width: 70px;
    height: 20px;
    border: none;
    border-radius: 5px;
    background-color: darkorange;
}
