.task-block {
    width: 50%;
    margin: 0 auto;
}
.task-item {
    width: 500px;
    border-bottom: 1px solid #000;
    margin-top: 20px;
}
.task {
    display: inline-block;
    width: 320px;
}
.edit {
    width: 70px;
    height: 20px;
    border: none;
    background-color: darkorange;
}
.delete {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: darkorange;
    text-align: center;
    border: none;
    margin-left: 30px;
}
